:root {
  // header
  --bg-nav: #060607;
  --text-nav-link: #978c8f;
  --hover-nav-link: white;
  --bg-nav-popup: #fff940;

  // button
  --bg-button-blue: #4153ff;

  // general
  --line-color: #faf53f;

  // hero
  --text-color-red: #df2a24;
  --text-color-white: #ffffff;
  --text-color-gray: #897f87;
  --color-play: #4153ff;

  //* card hero
  --line-card-hero: #cedfeb;
  --title-card-hero: #ffffff;
  --under-title-card-hero: #f2f441;

  // section1

  // youtube
  --text-youtube-blu: #4154ff;
  --text-youtube-black: #060607;
}
